.title{
        text-align: center;
        font-weight: 900;
        font-family: "Lato", sans-serif;
       color: #041620 ; 
    }

.cardBook{
    width: 380px;
    height: 430px;
    position: relative;  
    overflow: hidden;
    display: flex;
    align-items: center; 
    cursor: pointer;
    
    &::before, &::after{
        content: "";
        position: absolute;
        width: calc(100% - 30px);
        height: 4px;
        background: #fff;
        
        transition: all .3s;
    }
    &::before{left: -100%; top: 10px}
    &::after{left: 100%; bottom: 10px;}

    &:hover::before, &:hover::after{
        left: 15px;
    }
    .imgB{
    width: 100%;
    height: 430px;
   
  }


  .cartShopping{
      position: absolute;
      transition: all .3s;
      top: 200px;

      transform: scale(1.5);
      opacity: 0;
  }
  &:hover .cartShopping{
      transform: scale(1);
      opacity: 1;
  }
}
.page-item{
  text-transform: uppercase;
  // text-align: center;
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: top;
  margin: 0 2px 4px;
  font: 400 12px/22px 'Montserrat',sans-serif !important;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  // position: relative;
  cursor: pointer;
 
}
.pagination{
  justify-content: center;

}