footer{
    background-color: #041620;
    height: 320px;
    color: #fff;
    text-align: center;
}

.image{
    width: 70px;
    height: 70px;
    // margin-top: 50px;
   margin: 40px;
}
p{
    margin-top: 10px;
}




