.font-title{
    font-weight: 900;
    font-family: "Lato", sans-serif;
    color:#041721; 
    padding-top: 60px;
    white-space: pre-line;
    // margin-top: ;
}
.section-two{
    background-color: #EAEAEA;
    height: 600px;
    flex-direction: column;
   
}
.paragraph{
    margin-top: 50px;
}

.image-book{
// height: 300px;
// width: 300px;
// position: absolute;
// z-index: 3;
// margin-left: 50em;
// margin-top: -8em;
}
.image-sale{
height: 250px;
width: 250px;

}

@media only screen and (min-width:990px){
    .section-two{
        flex-direction: row;    
    }
  }
