
.title-section1{
    font-weight: 900;
    font-family: "Lato", sans-serif;
    text-align: center;
    padding-top: 20px;
    color: white ;

}
.paragraph1{
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: black;
}
.popular{
// position: absolute;
height: 450px;
background-repeat: no-repeat;
background-size: cover;
margin-top: 80px;
background-image: url('../components/img/clients.jpg');
color: white ;
padding: 30px;
}