.font-title{
    font-weight: 900;
    font-family: "Lato", sans-serif;
    color:#041721; 
    margin-left: 4em;
    padding-top: 60px;
    white-space: pre-line;
    // margin-top: ;
}
.section-two{
    background-color: #EAEAEA;
    height: 600px;
   
}
.paragraph{
    margin-left: -41em;
    margin-top: 40px;
}

.image-book{
height: 300px;
width: 300px;
position: absolute;
z-index: 3;
margin-left: 50em;
margin-top: -8em;
}
.image-sale{
height: 250px;
width: 250px;
margin-left: 15em;
margin-top: 15px;
}
