.slider{
   
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin:0;
    padding: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    border: none;
    // background: rgb(197, 188, 188);
    background: #fff;
    i{
        font-size: 2vw;
    }
       
}

.slide{
    position: relative;
    // border: 1px solid blue;
    border: none;
    min-width: 100%;
    height: 80%;
    transition: 0.5s;
    overflow: hidden;
}
%btn-styles{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 10%;
    height: 80%;
    background: none;
    border: none;
    outline: none;
    transition: 0.5s;
    &:hover {
        background: rgba(0,0,0, 0.356);
        cursor:pointer;
        i{
            color: rgb(24, 200, 206);
        }
    }
}

#goLeft{
    left: 0;
    @extend %btn-styles;
}

#goRight{
    right: 0;
    @extend %btn-styles;
}

.root{
    height: 550px;
    width: 400px;
    &:hover {
        background: rgba(231, 30, 16, 0.156);
        cursor:pointer;

    }
}