body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form-control {
    border-radius: 0px !important;
}

.form-control:focus {
    border: 1px solid #0CE682 !important;
    border-radius: 0px;
}

.form-div {
    margin: 2em auto;
    width: 40%;
}
.form-names {
    display: flex;
    gap: 10px;
}

.col {
    width: 100%;
}
.paypal-button {
    margin: 2em;
    text-align: center;
}